:root {
    --primary-purple: #667EEA;
    --soft-black: #282B30;
    --soft-white: #FAF8F7;
    --just-white: #F5F5F5; 
    --just-black: #000000; 
}

* {
    /* outline: solid 1px red !important; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 270px;
    text-align: center;
    background: linear-gradient(63.98deg, #667EEA 0%, #3C4983 65.07%);
}

header img {
    margin-top: 26px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.header__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
}

.header__container-title {
    margin-bottom: 14px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #A5EBEB;
}

.header__container-description {
    padding: 0 35px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
}

.header__container-button {
    position: absolute;
    top: 245px;
    left: calc(50% - 108px);
    display: block;
    padding: 14px;
    width: 212px;
    height: 46px;
    border-radius: 5px;
    background-color: var(--soft-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    color: var(--just-black);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s;
}

.header__container-button i {
    padding-left: 5px;
}

.header__container-button:hover, .main__server--button:hover {
    background-color: #A5EBEB;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--soft-white);
}

.main__info {
    display: flex;
    height: auto;
    overflow-x: scroll;
    padding: 45px 10px 15px 10px;
    margin: 0 0 30px;
}

.main__info-card {
    position: relative;
    width: 70%;
    min-width: 200px;
    max-width: 220px;
    height: 250px;
    padding: 16px; 
    margin: 0 8px 0;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    background-color: var(--just-white);
    text-align: center;
    color: var(--soft-black);
}

.main__info-card--number {
    font-size: 8rem;
}

.main__info-card--title {
    font-weight: bold;
    font-size: 2.2rem;
}

.main__info-card--body {
    padding: 10px 20px 0;
    font-weight: 300;
    font-size: 1.4rem;
}

.main__info-card i {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    font-size: 2.4rem;
    color: #3C4983;
}

/* Command */

.main__commands {
    position: relative;
    padding: 45px 0 40px;
    width: 100%;
    height: auto;
    background-color: var(--soft-black);
    color: var(--soft-white);
}

.main__commands .isotipo-icon {
    position: absolute;
    top: -20px;
    left: calc(50% - 21px);
    width: 42px;
    height: 40px;
    background-image: url('../assets/icons/logo_no_bg.svg');
}

.main__commands h2 {
    padding: 0 0 25px;
    text-align: center;
    font-size: 2.2rem;
}

.main__commands-collapse--container {
    padding: 10px 0;
    width: 298px;
    min-width: 298px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.main__commands-collapse--button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    background-color: #222222;
    border: none;
    outline: none;
    color: var(--soft-white);
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.main__commands-collapse--button::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.activeButton, .main__commands-collapse--button:hover {
    padding: 19px;
    border: 1px solid var(--primary-purple);
}

.activeButton::after {
    content: '\f077';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.main__commands-data-container {
    padding: 15px 30px;
    background-color: #222222;
    border: 1px solid #333333;
}

.hidden {
    display: none;
}

.activeContent {
    display: block;
}

.main__commands-data--title {
    padding: 3px 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.main__commands-data--title:before {
    content: '*'
}

.main__commands-data--body {
    font-size: 1.4rem;
    font-weight: 300;
}

/* Server */
.main__server {
    position: relative;
    width: 100%;
    height: 320px;
    min-height: 280px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/img/somosdevs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main__server h2 {
    padding: 40px 0;
    font-size: 2.2rem;
    color: var(--soft-white);
}

.main__server--body {
    margin: 0 auto;
    width: 280px;
    min-width: 250px;
    max-width: 900px;
    font-size: 1.4rem;
}

.main__server--button {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 62px);
    padding: 10px 45px;
    border-radius: 5px;
    background-color: var(--soft-white);
    color: var(--just-black);
    text-decoration: none;
    transition: all .3s;
}

footer {
    width: 100%;
    height: 161px;
    background-color: var(--primary-purple);
}

.footer__first {
    padding-top: 30px;
    display: flex;
}

.footer__first div {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer__first .right ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    text-align: right;
}

footer .right li a {
    margin: 10px 0;
    text-decoration: underline;
    color: var(--just-white);
}

footer .copyright-thing p {
    margin: 2em 0;
    text-align: center;
    font-size: 1.4rem;
    color: var(--just-white);
}