.info__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__category {
  width: 47%;
  min-width: 300px;
  min-height: 150px;
  margin: 10px auto;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 15px;
}

.info__category__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  font-size: 2rem;
}

.info__category__description p {
  font-size: 1.6rem;
}
