:root {
  --black: #000;
  --white: #fff;
  --background: #fff;
  --max-w-padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

.cta__button {
  padding: 12px 20px;
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  background-color: gray;
  border-radius: 6px;
  transition: opacity 0.2s ease-in-out;
}

.cta__button:hover {
  opacity: 0.6;
}

section.section {
  margin-bottom: 60px;
}

h2.section__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
  width: 100%;
  box-shadow: inset 0 -2px 0 #00000010;
  background-color: var(--background);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--max-w-padding);
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
}

.header__nav a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.header__nav a:hover {
  opacity: 0.6;
}

main {
  margin: 80px auto 0;
  max-width: 700px;
  padding: 0 var(--max-w-padding);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  margin: 40px 0;
}

.hero__title {
  margin-bottom: 15px;
  font-size: 5rem;
}

.hero__description {
  max-width: 460px;
  width: 80%;
  font-size: 2rem;
  text-align: center;
}

.hero__ctas {
  margin-top: 40px;
}

.btn__invite {
  background-color: #5865f2;
  color: #fff;
}



/* Footer */
footer {
  min-height: 180px;
  background-color: #23272a;
  color: #fff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px 0;
}

.footer__container section {
  width: 330px;
}

.footer__brand__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 2.4rem;
}

.footer__brand h5 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 20px;
}

.footer__brand h5 a {
  text-decoration: underline;
  color: #fff;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  font-size: 1.6rem;
  font-weight: normal;
}

.footer__lists_list {
  width: 100px;
}

.footer__lists_list ul {
  margin-top: 5px;
  list-style: none;
}
.footer__lists_list li {
  margin: 5px 0;
}

.footer__lists a {
  color: #bbb;
  text-decoration: none;
}

.footer__lists a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .footer__lists {
    justify-content: flex-start;
  }
}