/* 
  - s: '390px';
  - m: '600px';
  - l: '900px';
  - xl: '1024px';
  - xxl: '1400px';
*/

:root {  
  --max-w-padding: 15px;
  --content-max-width: 900px;

  /* theme */
  --bg-color: #171923;
  --bg-light: #232535;
  --font-color: #c5cddb;
  --font-light: #ffffff;

  --button-color: #fff;
  --font-color-inverted: #3d3d3d;

  --invert-image: 1;
}

.body_light-mode {
  --bg-color: #ffffff;
  --bg-light: #dcdaca;
  --font-color: #3d3d3d;
  --font-light: #202020;

  --button-color: #5865f2;
  --font-color-inverted: #ffffff;

  --invert-image: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--font-light);
  transition: background-color .3s;
}

section.section {
  margin: 60px 0;
}

.section h2 {
  text-align: center;
  font-size: 3rem;
}

h2.section__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 20px;
}

main {
  max-width: var(--content-max-width);
  padding: 80px var(--max-w-padding);
  margin: 0 auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  margin: 40px 0 10rem;
}

.hero__title {
  margin-bottom: 15px;
  font-size: 6rem;
}

.hero__description {
  max-width: 460px;
  width: 80%;
  font-size: 2.4rem;
  text-align: center;
}

.hero__ctas {
  margin-top: 40px;
}

.btn__invite {
  padding: 12px 20px;
  font-size: 2rem;
  color: var(--font-color-inverted);
  text-decoration: none;
  font-weight: 600;
  background-color: var(--button-color);
  border-radius: 6px;
  transition: opacity 0.2s ease-in-out;
}

.btn__invite:hover {
  opacity: 0.8;
}

/* Footer */
footer {
  min-height: 180px;
  background-color: #23272a;
  color: #fff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px 0;
}

.footer__container section {
  width: 330px;
}

.footer__brand__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 2.4rem;
}

.footer__brand h5 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 20px;
}

.footer__brand h5 a {
  text-decoration: underline;
  color: #fff;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  font-size: 1.6rem;
  font-weight: normal;
}

.footer__lists_list {
  width: 100px;
}

.footer__lists_list ul {
  margin-top: 5px;
  list-style: none;
}
.footer__lists_list li {
  margin: 5px 0;
}

.footer__lists a {
  color: #bbb;
  text-decoration: none;
}

.footer__lists a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .footer__lists {
    justify-content: flex-start;
  }
}